<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container mt-5">
    <!-- successful login alert -->
    <% if (messages.secrets) { %>
    <div class="alert alert-success alert-dismissible fade show w-50 ml-auto mr-auto d-block" role="alert">
      <%= messages.secrets %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    <!-- logo and title -->
    <i class="fas fa-key fa-8x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <!-- loading saved secrets -->
    <% for (const secret of secrets) { %>
    <p class="secret-text"><%= secret.secret %></p>
    <% } %>
    <hr>
    <!-- logout and submit buttons -->
    <a class="btn btn-outline-dark btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
